<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tambah</title>
</head>
<body>
    <form action="" method="post">
        string <input type="text" name="string" id="" value="<%=item.string%>"> <br>
        integer <input type="text" name="integer" id="" value="<%=item.integer%>"> <br>
        float <input type="text" name="float" id="" value="<%=item.float%>" > <br>
        date <input type='date' name="date" id="" value="<%=item.date%>"> <br>
        boolean <select name="boolean" id="" value="<%=item.boolean%>" >
                <option>true </option>
                <option>false</option>
        
        </select>
        <button type="submit">Edit</button>
    </form>
</body>
</html>